<!DOCTYPE html>
<html lang="en">

<head>
  {{>headlink}}
</head>

<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Hero section -->
    <div class="container_fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1> <span style="color: #9b59b6;"> BUY, RENT</span></h1>
                        <h2> Get Close<span style="color: #9b59b6;"> FAVORITE MOVIES </span> of your city <span
                                style="color: #9b59b6;"> With Us </span></h2>
                        <a href="/movie"> <button> Know More! </button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right about_img">

                        <img src="/image/about.jpg" alt="" class="img_fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pattner-section -->
    <div class="partners">
        <h1>OUR PARTENER</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/image/unnamed.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/image/pat2.jpeg" alt="">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/image/pat3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer-section -->
    {{>footer}}

    <!-- bootstrap script -->
    {{>script}}
</body>

</html>